body{
    background-color: #f0f2f5;
}
.main{
    display: flex;
    flex-direction: row;
}
.left{
    width:500px;
    margin: 0 auto;
    margin-top:110px;
}
.login{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 280px;
    width:300px;
    padding: 20px;
    margin:80px auto;
    border-radius: 5px;
}
input{
    padding:10px;
    margin:10px;
    border-radius: 5px;
    border:2px solid;
    border-color:#f0f2f5;
}
.log{
    padding:10px;
    margin:10px;
    border-radius: 5px;
    width:280px;
    background-color: 
#1877f2;
    border-color: #1877f2;
}
a{
    text-align: center;
    margin:10px;
    text-decoration: none;
}
.create{
    margin:10px;
    padding:10px;
    width:200px;
    margin-left:45px;
    border-radius: 5px;
    background-color: #42b72a;
    border-color: #42b72a;
}
hr {
    margin-left: 0;
    margin-right:0;
}
.left h1{
    font-size:3em;
    color:#1877f2;
}
.left p{
    font-size: 2em;
}

@media (max-width: 900px){
    .main{
        display:flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
    }
    .left{
        margin: 0 auto;
    }
    .left h1{
        margin-bottom: 10px;
    }
    .left p{
        text-align: justify;
        font-size: 1.5em;
        width:330px;
        margin: 9px auto;
    }
    .login{
        margin: 0 auto;
    }
}
